.home__lang-change {
  position: fixed;
  font-size: 24px;
  font-weight: 600;
  bottom: 22px;
  right: 22px;
  background-color: black;
  padding: 10px;
  cursor: pointer;
  transition: 200ms all ease;
}

.home__lang-change:hover {
  background-color: #ffd227;
  color: #000;
}

.home__main {
      margin-top: 170px;
}

.home__lang-change_ru {
  margin-right: 65px;
}

.home__serge {
  padding: 5px 20px;
  background: #000;
  transition: 200ms all ease-in-out;
  color: #fff;
  opacity: 1;
}

.home__serge:hover {
  color: #ffd227;
}

.home__greeting {
  margin: auto;
  width: 90vw;
  font-size: 5vw;
  line-height: 6.5vw;
  cursor: pointer;
  text-transform: uppercase;
}

.home__vr{
  position: fixed;
  right: 2px;
     bottom: 50px;

  cursor:pointer;
  transition: 200ms all ease-in-out;
}

.home__vr-img{
  z-index: 100;
  margin: 21px;
  padding: 5px;
  width: 40px;
  background: #fff;
  transition: 200ms all ease-in-out;
}

.home__vr-img_red,.home__vr-img_blue{
  position: absolute;
  z-index: 101;
  margin: 21px;
  padding: 5px;
  width: 40px;
  opacity: 0;
  transition: 400ms all ease-in-out;
  transform: translateX(0px);
  mix-blend-mode: lighten;
}
.home__vr:hover .home__vr-img_red{
  opacity: 1;
  filter: invert(100%) sepia() saturate(10000%) hue-rotate(-85deg);
  transform: translateX(10px);
}
.home__vr:hover .home__vr-img_blue{
  opacity: 1;
  filter: invert(100%) sepia() saturate(10000%) hue-rotate(130deg);
  transform: translateX(-10px);
  animation: bounceRight ease-in 0.25s;
}

.home__vr:hover  .home__vr-img{
  border-radius: 32px;
  transform: scale(0);
}

@media (max-width: 1000px) {
  .home__lang-change_ru {
    margin-right: 43px;
}
  .home__lang-change {
    position: fixed;
    font-size: 14px;
    font-weight: 600;
    bottom: 0px;
    right: 0px;
  }
  .home__serge {
    padding: 5px 10px;
  }
  .home__greeting {
    font-size: 8vw;
    line-height: 11vw;
}
}
