

.home__main {
      margin-top: 110px;
      padding-bottom: 40px;
}

.home__faqLink {
  z-index: 12;
  position: fixed;
  top: 31px;
right: 168px;
    opacity: 0.6;
    width: 22px;
    cursor: pointer;
}

@media (max-width: 400px) {
  .home__faqLink {
    right: 127px;
}
}
