.button__wrapper {
  text-align: center;
}

.button {
  background-color: #424d82;
  padding: 10px;
  border-radius: 50%;
  color: white;
  font-size: 41px;
  border: none;
  width: 66px;
  height: 66px;
  outline: none;
  transition: 300ms all ease;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 16px 20px -7px #848fce;
}
