.button__wrapper {
  text-align: center;
}

.button {
  padding: 10px;
  border-radius: 5px;
  color: #424d82;
  font-size: 40px;
  width: 66px;
  height: 66px;
  outline: none;
  transition: 200ms all ease;
  cursor: pointer;
  border: 2px solid #d3daff;
  background-color: #fff;
      margin-top: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      text-shadow: none;
      margin: auto;
}

.button__download {
  backface-visibility: hidden;
  width: 100%;
  position: fixed;
  max-width: 126px;
  border: 2px solid #1c284e;
  background-color: #1c284e;
  right: 0;
  z-index: 12;
  color: #ffffff;
  border-radius: 0;
  font-family: 'CoreSans'!important;
  margin: 17px;
  font-size: 22px;
  border-radius: 5px;
  height: 50px;
  top: 0;
  bottom: 0;
}

.button:hover {
  border: 2px solid #424d82;
  box-shadow: 0 16px 20px -7px #848fce;
  background-color: #424d82;
  color: #fff;
    border-radius: 50%;
}
.button__download:hover {
  border: 2px solid #424d82;
  border-radius: 5px;
}

@media (max-width: 400px) {
  .button__download {
    max-width: 100px;
  }
}
