<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initialscale=1">
    <meta name="format-detection" content="telephone=no">
    <title>City Business School</title>
    <style type="text/css">
      @media only screen and (max-width:450px) {
        .spacer {
          display: none
        }
        td[class=pattern] .col {
          width: 100%;
          display: block
        }
        td[class=pattern] .hero_image img {
          width: 100%
        }
      }

      @media only screen and (max-width:599px) {
        table {
          width: 100%!important;
          max-width: 100%!important
        }
        img.pattern {
          max-width: 100%;
          height: auto!important
        }
        td[class=pattern] table {
          width: 100%
        }
        td[class=pattern] .hero_image img {
          width: 100%;
          height: auto!important
        }
        td[class=header-logo] {
          width: 100%;
          display: block
        }
        td[class=header-logo] img {
          margin-left: auto;
          margin-right: auto
        }
        td[class=nav-responsive] {
          width: 100%;
          display: block;
          text-align: center;
          padding-top: 20px
        }
        table[class=news-md] {
          margin-bottom: 0!important
        }
        table[class=news-xs] {
          margin-top: 0!important
        }
      }
    </style>
  </head>

  <body class="full-width" style="-webkit-text-size-adjust:none;margin:0;padding:0">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f2f9ff">
      <tbody>
        <tr>
          <td valign="top" style="border-collapse:collapse">
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td style="border-collapse:collapse">
                    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td height="25" style="border-collapse:collapse">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td style="border-collapse:collapse">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td style="border-collapse:collapse">
                                  </td>
                                </tr>
                                <tr>
                                  <td width="15%" style="border-collapse:collapse">
                                  </td>
                                  <td align="center" style="border-collapse:collapse"><span class="preheader" style="font:14px Trebuchet MS,sans-serif;color:#666;-webkit-text-size-adjust:none;line-height:18px"> </span></td>
                                  <td width="15%" style="border-collapse:collapse">
                                  </td>
                                </tr>
                                <tr>
                                  <td height="15" style="border-collapse:collapse">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="header" style="background-color:#105193">
                              <tbody>
                                <tr>
                                  <td width="30" class="spacer" style="border-collapse:collapse">
                                  </td>
                                  <td style="border-collapse:collapse">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td height="20" style="border-collapse:collapse">
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="header-logo" style="border-collapse:collapse"><img src="http://e-mba.ru/storage/app/media/mail/template-news/logo-lg.png" height="56" width="267" alt="" style="border:0;display:block;outline:0;text-decoration:none"></td>
                                          <td class="nav-responsive" align="right" style="border-collapse:collapse"><a href="http://e-mba.ru/school/news/?utm_medium=nl&amp;utm_source=email&amp;utm_campaign=all&amp;utm_content=menu&amp;utm_term=30_03_2017" class="header-link" style="font:14px Trebuchet MS,sans-serif;line-height:24px;-webkit-text-size-adjust:none;color:#fff;margin:0 5px"
                                              target="_blank">Новости</a> <a href="http://e-mba.ru/school/articles?utm_medium=nl&amp;utm_source=email&amp;utm_campaign=all&amp;utm_content=menu&amp;utm_term=30_03_2017" class="header-link" style="font:14px Trebuchet MS,sans-serif;line-height:24px;-webkit-text-size-adjust:none;color:#fff;margin:0 5px"
                                              target="_blank">Статьи</a> <a href="http://cdo.e-mba.ru/ru/signin?utm_medium=nl&amp;utm_source=email&amp;utm_campaign=all&amp;utm_content=menu&amp;utm_term=30_03_2017" class="header-link" style="font:14px Trebuchet MS,sans-serif;line-height:24px;-webkit-text-size-adjust:none;color:#fff;margin:0 5px"
                                              target="_blank">Вход в СДО</a></td>
                                        </tr>
                                        <tr>
                                          <td height="20" style="border-collapse:collapse">
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                  <td width="30" class="spacer" style="border-collapse:collapse">
                                  </td>
                                </tr>
                              </tbody>
                            </table>





                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td style="border-collapse:collapse">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td style="border-collapse:collapse">
                                  </td>
                                </tr>
                                <tr>
                                  <td width="15%" style="border-collapse:collapse">
                                  </td>
                                  <td align="center" style="border-collapse:collapse"><span class="preheader" style="font:14px Trebuchet MS,sans-serif;color:#666;-webkit-text-size-adjust:none;line-height:18px"> </span></td>
                                  <td width="15%" style="border-collapse:collapse">
                                  </td>
                                </tr>
                                <tr>
                                  <td height="15" style="border-collapse:collapse">
                                  </td>
                                </tr>
                              </tbody>
                            </table>

                            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td height="20" style="border-collapse:collapse;">&nbsp;</td>
                                </tr>
                                <tr align="center">
                                  <td style="border-collapse:collapse;" width="30">&nbsp;</td>
                                  <td style="border-collapse:collapse;">
                                    <div class="text-lh-md" style="font:14px 'Trebuchet MS', sans-serif;color:#666;line-height:24px;display:block;margin-top:0;padding-bottom:15px;text-align:left;">Здравствуйте!</div>

                                    <div class="text-lh-md" style="font:14px 'Trebuchet MS', sans-serif;color:#666;line-height:24px;display:block;margin-top:0;padding-bottom:15px;text-align:left;">Мы начинаем рассылку с темы, победившей на голосовании в соцсетях<br> на прошлой неделе.<br><strong>Хотите читать статьи, которые будут написаны специально для вас?<br>Участвуйте в голосовании и выбирайте следующую тему:</strong></div>

                                    <div class="text-lh-md" style="font:14px 'Trebuchet MS', sans-serif;color:#666;line-height:24px;display:block;margin-top:0;padding-bottom:15px;text-align:left;"><a href="https://www.facebook.com/groups/citybusinessschool/" style="font:14px 'Trebuchet MS', sans-serif;color:#666;" target="_blank">Facebook</a> <a href="https://vk.com/citybusinessschool" style="font:14px 'Trebuchet MS', sans-serif;color:#666;"
                                        target="_blank">ВКонтакте</a> <a href="https://ok.ru/group/52212862550082" style="font:14px 'Trebuchet MS', sans-serif;color:#666;" target="_blank">Одноклассники</a></div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>




                          </td>
                        </tr>
                      </tbody>
                    </table>
                    {{#each forms}}
                    <table id="block" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td style="border-collapse:collapse">



                            <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                              <tbody>
                                <tr>
                                  <td height="10" style="border-collapse:collapse">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="hero_image" style="border-collapse:collapse">
                                    <a href="{{buttonLink}}" style="font:14px Trebuchet MS,sans-serif;color:#666;line-height:24px;-webkit-text-size-adjust:none" target="_blank"><img src="{{image}}" height="230" width="600" class="pattern" alt="" style="border:0;display:block;outline:0;text-decoration:none"></a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                              <tbody>
                                <tr align="center">
                                  <td width="30" style="border-collapse:collapse">
                                  </td>
                                  <td style="border-collapse:collapse">
                                    <span class="title-news" style="font:14px Trebuchet MS,sans-serif;line-height:24px;-webkit-text-size-adjust:none;color:#000;display:block;text-align:center;font-weight:700;font-size:16px;margin-top:25px;margin-bottom:20px">{{heading}}</span>
                                    <hr class="line-blue" style="border:0;width:50px;margin-left:auto;margin-right:auto;margin-top:20px;margin-bottom:15px;border-bottom:2px solid #105193">

                                    <div class="text-lh-md" style="font:14px Trebuchet MS,sans-serif;color:#666;line-height:24px;-webkit-text-size-adjust:none;display:block;margin-top:0;padding-bottom:15px; text-align:left;">
                                      {{mainText}}
                                    </div>




                                  </td>
                                  <td width="30" style="border-collapse:collapse">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" class="news-md" style="margin-bottom:5px">
                              <tbody>
                                <tr>
                                  <td width="45" style="border-collapse:collapse">
                                  </td>
                                  <td style="border-collapse:collapse">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td align="left" style="border-collapse:collapse">
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                              <tbody>
                                                <tr>
                                                  <td style="border-collapse:collapse" align="center">
                                                    <center>
                                                      <a href="{{buttonLink}}" style="font:14px Trebuchet MS,sans-serif;-webkit-text-size-adjust:none;background-color:#fc8800;color:#fff;border-radius:3px;display:inline-block;text-align:center;text-decoration:none;font-size:12px;padding:6px 0; margin-left:auto;margin-right:auto; line-height:24px; text-transform: uppercase; width:110px"
                                                        target="_blank">{{buttonName}}</a>
                                                    </center>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td height="20" style="border-collapse:collapse">
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                  <td width="45" style="border-collapse:collapse">
                                  </td>
                                </tr>
                              </tbody>
                            </table>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                    {{/each}}
                    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td style="border-collapse:collapse">






                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td class="pattern" width="600" align="center" style="border-collapse:collapse">
                                    <table cellpadding="0" cellspacing="0" width="600">
                                      <tbody>
                                        <tr>
                                          <td class="col" width="600" valign="top" style="border-collapse:collapse">








                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                              <tbody>
                                                <tr>
                                                  <td height="25" style="border-collapse:collapse">
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td width="20" style="border-collapse:collapse">
                                                  </td>
                                                  <td style="border-collapse:collapse"><span class="text text-footer" style="font:14px Trebuchet MS,sans-serif;color:#666;-webkit-text-size-adjust:none;line-height:20px;padding-bottom:20px;display:block;margin-top:0">Сообщение отправлено автоматически. Пожалуйста, не отвечайте на него!<br>Вы получили это письмо, так как подписаны на рассылку на сайте <a href="http://www.e-mba.ru?utm_medium=nl&amp;utm_source=email&amp;utm_campaign=all&amp;utm_content=footer&amp;utm_term=30_03_2017" style="font:14px Trebuchet MS,sans-serif;line-height:24px;-webkit-text-size-adjust:none;color:#014081" target="_blank">www.e-mba.ru</a>.<br>Если это письмо пришло по ошибке, и Вы не регистрировались, пожалуйста, сообщите нам об этом!</span></td>
                                                  <td width="20" style="border-collapse:collapse">
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                            <hr class="grey-line" style="border:0;border-bottom:1px solid #d4d8d9">
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                              <tbody>
                                                <tr>
                                                  <td width="20" class="spacer" style="border-collapse:collapse">
                                                  </td>
                                                  <td valign="top" class="nav-responsive" style="border-collapse:collapse"><span class="text-lh" style="font:14px Trebuchet MS,sans-serif;color:#666;-webkit-text-size-adjust:none;line-height:20px">121596, г.Москва<br>ул. Горбунова, д. 2, стр. 3, офис 607 В</span><br>
                                                    <a href="https://www.facebook.com/groups/citybusinessschool/" class="social" style="font:14px Trebuchet MS,sans-serif;color:#666;line-height:24px;-webkit-text-size-adjust:none;display:inline-block;margin-top:5px;margin-right:2px" target="_blank"><img src="http://e-mba.ru/storage/app/media/mail/template-news/fb.jpg" height="21" width="21" alt="" style="border:0;display:block;outline:0;text-decoration:none"></a>
                                                    <a href="http://vk.com/citybusinessschool" class="social" style="font:14px Trebuchet MS,sans-serif;color:#666;line-height:24px;-webkit-text-size-adjust:none;display:inline-block;margin-top:5px;margin-right:2px" target="_blank"><img src="http://e-mba.ru/storage/app/media/mail/template-news/vk.jpg" height="21" width="21" alt="" style="border:0;display:block;outline:0;text-decoration:none"></a>
                                                    <a href="http://ok.ru/group/52212862550082" class="social" style="font:14px Trebuchet MS,sans-serif;color:#666;line-height:24px;-webkit-text-size-adjust:none;display:inline-block;margin-top:5px;margin-right:2px" target="_blank"><img src="http://e-mba.ru/storage/app/media/mail/template-news/ok.jpg" height="21" width="21" alt="" style="border:0;display:block;outline:0;text-decoration:none"></a>
                                                  </td>
                                                  <td valign="top" align="right" class="nav-responsive" style="border-collapse:collapse"><span class="text-lh" style="font:14px Trebuchet MS,sans-serif;color:#666;-webkit-text-size-adjust:none;line-height:20px"><a href="tel:+74956680909" style="font:14px Trebuchet MS,sans-serif;color:#666;line-height:24px;-webkit-text-size-adjust:none" target="_blank">+7 (495) 668-09-09</a><br><a href="mailto:info@e-mba.ru" style="font:14px Trebuchet MS,sans-serif;color:#666;line-height:24px;-webkit-text-size-adjust:none" target="_blank">info@e-mba.ru</a><br><a href="http://www.e-mba.ru?utm_medium=nl&amp;utm_source=email&amp;utm_campaign=all&amp;utm_content=footer&amp;utm_term=30_03_2017" style="font:14px Trebuchet MS,sans-serif;color:#666;line-height:24px;-webkit-text-size-adjust:none" target="_blank">www.e-mba.ru</a></span></td>
                                                  <td width="20" class="spacer" style="border-collapse:collapse">
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td height="20" style="border-collapse:collapse">
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#dfe5eb">
                                      <tbody>
                                        <tr align="center">
                                          <td style="border-collapse:collapse"><a href="[UNSUBSCRIBE_URL]" class="link-unsub" style="font:14px Trebuchet MS,sans-serif;line-height:24px;-webkit-text-size-adjust:none;color:#004a8b;display:block;padding:9px 0" target="_blank">Отписаться от рассылки можно здесь</a></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>


                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>






  </body>

</html>
