.mailBlock__main {
  width: 100%;
max-width: 800px;
margin: auto;
display: flex;
justify-content: center;
flex-direction: column;
position: relative;
margin-top: 35px;
}
.mailBlock__input-wrapper {
  display: flex;
  margin-top: 10px;
}
.mailBlock__input_buttonLink {
  display: inline-block;
      width: 66%;
      margin-right: 10px;
}

.mailBlock__input_buttonName {
  width: 140px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
      width: 33%;
}

.mailBlock__input {
  padding: 2%;
  border-radius: 5px;
  border: 2px solid #d3daff;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: 'CoreSans';
  background-color: #fff;
}

.mailBlock__dropzone {
  text-align: center;
  padding: 4%;
  border-radius: 5px;
  border: 2px dashed #d3daff;
  font-size: 16px;
  margin-bottom: 10px;
  transition: 200ms all ease;
  color: #d3daff;
  cursor: pointer;
  background-color: #fff;
}

.mailBlock__dropzone_active {
      border: 3px solid #3e58ea;
}

.mailBlock__dropzone_reject {
      border: 3px solid #ea3e3e;
}

.mailBlock__heading {
  display: flex;
  justify-content: center;
  align-items: center;
}


div.dz-default.dz-message {
  font-size: 22px;
margin: 10px;
}



.onoffswitch {
    position: relative; width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 20px; padding: 0; line-height: 20px;
    border: 2px solid #d6ddff; border-radius: 20px;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
    margin: 10px 0;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 20px; margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top:0; 
    bottom: 0;
    right: 28px;
    border: 2px solid #d6ddff; border-radius: 20px;
    transition: all 0.2s ease-in-out 0s;
    height: 20px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #252C4E;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #252C4E;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}
