@import 'variables.css';

body {
  overflow-x: hidden;
  margin: 0;
  background-color: var(--white);
  color: var(--black);
  filter: blur(0.4px);
  height: 100vh;
  display: flex;
}

a {
  color: var(--whitish);
  text-decoration: none;
}

ul {
  padding-right: 21px;
list-style-type: none;
  text-align: right;
}

.app__children {
  z-index: 1;
  display: flex;
min-height: 100vh;
width: 100vw;
justify-content: center;
align-items: center;
}

@media (max-width: 500px ) {
  .app__children {
      align-items: center;
      /*margin-top: 100px;*/
  }
}
