@import 'variables.css';

body {
  overflow-x: hidden;
  margin: 0;
  background-color: var(--white);
  color: var(--black);
  filter: blur(0.4px);
  height: 100vh;
  display: flex;
}

a {
  color: var(--whitish);
  text-decoration: none;
}

ul {
  padding-right: 21px;
list-style-type: none;
  text-align: right;
}

h1 {
  color: #252c4e;
  margin: 0;
}

::-webkit-input-placeholder {color:#d3daff;font-family: 'CoreSans';}
::-moz-placeholder          {color:#d3daff;font-family: 'CoreSans';}/* Firefox 19+ */
:-moz-placeholder           {color:#d3daff;font-family: 'CoreSans';}/* Firefox 18- */
:-ms-input-placeholder      {color:#d3daff;font-family: 'CoreSans';}

.app__children {
  z-index: 1;
  display: flex;
min-height: 100vh;
width: 100vw;
justify-content: center;
align-items: center;
}

.container {
  width: 100%;
padding: 0 3%;
}

@media (max-width: 500px ) {
  .app__children {
      align-items: center;
      /*margin-top: 100px;*/
  }
}
