@import 'variables.css';

body {
  overflow-x: hidden;
  margin: 0;
  background-color: var(--white);
  color: #1c284e;
  height: 100vh;
  display: flex;
}

a {
  color: #1c3a98;
      text-decoration: none;
      border-bottom: 1px solid #1c3a98;
      display: inline-block;
      line-height: 0.95;
      text-shadow: 1px 1px white, 1px -1px white, -1px 1px white, -1px -1px white;
}

ul {
  padding-right: 21px;
list-style-type: none;
  text-align: right;
}

h1 {
  color: #252c4e;
  margin: 0;
}

div.RichTextEditor__root___2QXK-,input {
  transition: 200ms all ease-in-out;
}

div.RichTextEditor__root___2QXK-:focus,input:focus {
  border: 2px solid #7883b9;
  outline: none;
}
div.RichTextEditor__root___2QXK-:hover,input:hover {
  border: 2px solid #7883b9;
}

::-webkit-input-placeholder {color:#d3daff;font-family: 'CoreSans';}
::-moz-placeholder          {color:#d3daff;font-family: 'CoreSans';}/* Firefox 19+ */
:-moz-placeholder           {color:#d3daff;font-family: 'CoreSans';}/* Firefox 18- */
:-ms-input-placeholder      {color:#d3daff;font-family: 'CoreSans';}
.app {

    overflow: hidden;
    filter: blur(0.4px);
}
.app__loader {
  background-color: #fff;
margin: 0;
top: 0;
left: 0;
width: 100%;
height: 100%;
justify-content: center;
align-items: center;
position: absolute;
overflow: hidden;
animation: 1400ms 1s loaderFade cubic-bezier(.16,.01,0,.99);
transform-origin: center;
z-index: 100;
display: flex;
}

.app__loader-wrapper {
  animation: 2000ms loaderScale cubic-bezier(.16,.01,0,.99);
  transform-origin: 26% 17%;
width: 156px;
height: 150px;
display: flex;
}

.app__loader_false {
  display: none;
}

.app__children {
  z-index: 1;
  display: flex;
min-height: 100vh;
width: 100vw;
justify-content: center;
align-items: center;
background-color: #f8f8ff;
}

.app__leftLogo {
  position: absolute;
  z-index: 1;
  animation-timing-function: cubic-bezier(.16,.01,0,.99);
  animation: 1000ms leftLogoFly forwards;
}
.app__rightLogoMain{
  position: relative;
    z-index:0;
top: -10px;
left: 21px;
}

.app__right {
  animation-timing-function: cubic-bezier(.16,.01,0,.99);
  animation: 1000ms RightLogoFly forwards;
}

 .app__rightLogoHelper{
  position: relative;
    z-index: 1;
top: -37px;
    left: -53px;
}

.container {
  width: 100%;
padding: 0 5%;
}

.app__logo-wrapper {
  backface-visibility: hidden;
  z-index: 11;
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  width: 100%;
  height: 25px;
  box-shadow: 0 0 63px -5px #eff2ff;
  background-color: white;
  display: flex;
align-items: center;
justify-content: flex-start;
& img {
  width: 150px;
}
}

@media (max-width: 500px ) {
  .app__children {
      align-items: center;
  }
  .app__logo-wrapper img {
      width: 130px;
  }
}

@keyframes leftLogoFly {
  0% {
    transform: translate( -100px, 100px);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }


  100% {
    transform: translate( 2px, -2px);
    opacity: 1;
  }
}

@keyframes RightLogoFly {
  0% {
    transform: translate( 100px, -100px);
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    transform: translate( -2px, 2px);
    opacity: 1;
  }
}

@keyframes loaderFade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loaderScale {
  0% {
    transform: scale(2.5);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
