:root {
  --crimson: #ff273a;
  --whitish: #f7f7f7;
  --white: #ffffff;
  --black: #000000;
}



.menu-button-img {
      width: 25px;
}

.menu-button__icon{
font-size: 40px;
font-family: initial;
height: 47px;
    line-height: 49px;
}


.menu-button-wraper {
  position: relative;
  display: flex;
  transition: 200ms all ease-in-out;
  transform: translateX(160px);
}

.menu-button-wraper:hover {
  transform: translateX(0px);
}

.menu-button{
  margin-top: 20px;
  margin-right: 20px;
  outline: none;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  font-family: 'CoreSans';
  position: fixed;
  right: 0;
  top: 0;
}
.menu-button-block1{
  padding: 30px 30px;
  background-color: var(--white);
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-button-block2{
  min-width: 160px;
  border-width: 2px;
  background-color: var(--black);
  color: var(--whitish);
  font-size: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-button-block3{
  color: var(--whitish);
  font-weight: 400;
  font-size: 16px;
}

.menu-button-block3a{
  padding: 3px;
  background-color: var(--black);
}

@media (max-width: 600px) {
  .menu-button-block1{
    padding: 20px 20px;
  }
  .menu-button {
    margin-top: 0px;
    margin-right: 0px;
  }
}
